<!DOCTYPE html>
<html>
<head>
	<title>BollyWood</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "bollywood.css" %}" >
<p id="a"></p><br>
<div id="gorey">
	<div id="aman">
		<button id="1" class="vicky waves-effect btn waves-light btn1" onclick="aman('1','1')" autocomplete='off'>1</button>
		<button id="2" class="vicky waves-effect btn waves-light btn1" onclick="aman('2','2')" autocomplete='off'>2</button>
		<button id="3" class="vicky waves-effect btn waves-light btn1" onclick="aman('3','3')" autocomplete='off'>3</button>
		<button id="4" class="vicky waves-effect btn waves-light btn1" onclick="aman('4','4')" autocomplete='off'>4</button>
		<button id="5" class="vicky waves-effect btn waves-light btn1" onclick="aman('5','5')" autocomplete='off'>5</button><br>
		<button id="6" class="vicky waves-effect btn waves-light btn1" onclick="aman('6','6')" autocomplete='off'>6</button>
		<button id="7" class="vicky waves-effect btn waves-light btn1" onclick="aman('7','7')" autocomplete='off'>7</button>
		<button id="8" class="vicky waves-effect btn waves-light btn1" onclick="aman('8','8')" autocomplete='off'>8</button>
		<button id="9" class="vicky waves-effect btn waves-light btn1" onclick="aman('9','9')" autocomplete='off'>9</button>
		<button id="0" class="vicky waves-effect btn waves-light btn1" onclick="aman('0','0')" autocomplete='off'>0</button><br>
	</div>
	<button id="B" class="vicky waves-effect btn waves-light btn2" onclick="aman('B','B')" autocomplete='off'>B</button>
	<button id="C" class="vicky waves-effect btn waves-light btn2" onclick="aman('C','C')" autocomplete='off'>C</button>
	<button id="D" class="vicky waves-effect btn waves-light btn2" onclick="aman('D','D')" autocomplete='off'>D</button>
	<button id="F" class="vicky waves-effect btn waves-light btn2" onclick="aman('F','F')" autocomplete='off'>F</button>
	<button id="G" class="vicky waves-effect btn waves-light btn2" onclick="aman('G','G')" autocomplete='off'>G</button>
	<button id="H" class="vicky waves-effect btn waves-light btn2" onclick="aman('H','H')" autocomplete='off'>H</button>
	<button id="J" class="vicky waves-effect btn waves-light btn2" onclick="aman('J','J')" autocomplete='off'>J</button><br>
	<button id="K" class="vicky waves-effect btn waves-light btn2" onclick="aman('K','K')" autocomplete='off'>K</button>
	<button id="L" class="vicky waves-effect btn waves-light btn2" onclick="aman('L','L')" autocomplete='off'>L</button>
	<button id="M" class="vicky waves-effect btn waves-light btn2" onclick="aman('M','M')" autocomplete='off'>M</button>
	<button id="N" class="vicky waves-effect btn waves-light btn2" onclick="aman('N','N')" autocomplete='off'>N</button>
	<button id="P" class="vicky waves-effect btn waves-light btn2" onclick="aman('P','P')" autocomplete='off'>P</button>
	<button id="Q" class="vicky waves-effect btn waves-light btn2" onclick="aman('Q','Q')" autocomplete='off'>Q</button>
	<button id="R" class="vicky waves-effect btn waves-light btn2" onclick="aman('R','R')" autocomplete='off'>R</button><br>
	<button id="S" class="vicky waves-effect btn waves-light btn2" onclick="aman('S','S')" autocomplete='off'>S</button>
	<button id="T" class="vicky waves-effect btn waves-light btn2" onclick="aman('T','T')" autocomplete='off'>T</button>
	<button id="V" class="vicky waves-effect btn waves-light btn2" onclick="aman('V','V')" autocomplete='off'>V</button>
	<button id="W" class="vicky waves-effect btn waves-light btn2" onclick="aman('W','W')" autocomplete='off'>W</button>
	<button id="X" class="vicky waves-effect btn waves-light btn2" onclick="aman('X','X')" autocomplete='off'>X</button>
	<button id="Y" class="vicky waves-effect btn waves-light btn2" onclick="aman('Y','Y')" autocomplete='off'>Y</button>
	<button id="Z" class="vicky waves-effect btn waves-light btn2" onclick="aman('Z','Z')" autocomplete='off'>Z</button><br>
</div>
<p id="b"></p>
<p><b><mark id="c"></mark></b><b id="d"></b></p>
<p id="e"></p>

<button id="PLAY" onclick="od()">PLAY AGAIN</button>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static "bollywood.js" %}"></script>
</html>
